__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

.env
.env.local
.env.prod
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

data/raw/
data/processed/
data/logs/
data/eval/reports/
qdrant_storage/

.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
